
<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<div align="center">
  <%= will_paginate %>
</div>


<%= render 'article',obj: @comments %>

<div align="center">
  <%= will_paginate %>
</div>

<%= link_to 'New Comment', new_comment_path %>
